<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Front Door  | Book Appointment</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="book_appointment">
               <div class="book_by_selecting">
                   <div class="message">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                   <p style="font-size:1.6rem; margin:2rem 8rem;">Select Option to Book an appointment</p>
                    <div class="patien_block">
                        <button onclick="displayText()" class="btnnew newPatient">Patient</button>
                    </div>
                    <div class="text">
                        <h5 class="primary">Please select your option and click Submit</h5>
                    </div>
               </div>

                <div class="new_booking">
                     <div class="booking_heading" id="new">
                        <h3 class="book_heading">
                            Book an Appointment
                        </h3>
                    </div>


                <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form1" value="formOne">
                        <div class="select_booking">
                            <div class="input_location">
                                <label for="">Select Preferred location</label>
                                <select name="location" id="locat" required>
                                    {{location}}
                                    <option value="">Select Location</option>
                                        {% for i in location %}
                                        <option value="{{i.location}}">{{i.location}}</option>
                                        {% endfor %}
                                </select>
                            </div>
                            <div class="input_location">
                                <label for="">Select Speciality</label>
                                <select name="department" id="dept" required>
                                    <option>Select Department</option>
                                    {% for i in department %}
                                        <option value="{{i.pk}}">{{i.department_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input_location">
                                <label for="">Select Date</label>
                                <input type="date" name="selected_date" id ="date" onchange="changeDate()" style="background: white;border: 1px solid black; width: 100%;padding: 1rem;">
                            </div>

                            <div class="submit">
                                <button type="submit" class="btn_fetch">Submit</button>
                            </div>
                        </div>
                </form>
                </div>
           </div>
        </div>
    </div>
    <script src="{% static 'js/time.js' %}"></script>

</body>
</html>
