/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-y:hidden;
}
.container {
    width:100%;
    height:100vh;
}

h2 {
    font-size:1.8rem;
    margin: 4rem 0 2rem 0;
    padding: 1rem;
    text-align: center;
    letter-spacing:1px;
}

.patient_details {
    width:100%;
    height:100%;
    position:relative;
}

form {
    background: #F7F8F5;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:70%;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);

}

.patient_info {
    width: 80%;
    margin: 3rem auto 0 auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 4rem;
}

.name {
    margin:1rem 0;
    font-size:1.6rem;
}

label {
    font-size:1.6rem;
    display:block;
    margin:1rem 0;
}

input, select{

    width:100%;
    padding:1rem;
    border:none;
    background-color:white;
}

input:focus, select:focus{
    border-bottom:3px solid red;
    outline:none;
}

.btn_submit{
    text-align: center;
    margin: 5rem 0;
}

.btn_submit button  {
    padding: 1rem 2rem;
    border: none;
    cursor:pointer;
}

.insurance {
display:none;
}

