{% extends 'base.html' %}
{% block title %}Delete Doctor | Digital Front Door{% endblock %}
{% block content %}

<div class="deleteDept">
    <form action="" method="post">
        {% csrf_token %}
        <div class="del_block">

            <div class="del_heading">
                <h5>Are you sure?</h5>
                <a href="{% url 'doctor' %}">X</a>
            </div>
            <div class="del_text">
                <p>Are you sure you want to delete the user <strong>DR.{{doct_data.first_name}} {{doct_data.last_name}}</strong>?</p>
            </div>
            <div class="btn btn-del">

                <button type="submit" class="btn btn_cancel"><a href="{% url 'doctor' %}">Cancel</a></button>
                <button type="submit" class="btn btn_submit">Delete Doctor</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}