{% extends 'base.html' %}
{% block title %}Delete Doctor | Digital Front Door{% endblock %}
{% block content %}

<div class="deleteDept">
    <form action="" method="post">
        {% csrf_token %}
        <div class="del_block">
            {% for i in del_schedule %}
                {{i.from_time}}


            <div class="del_heading">
                <h5>Are you sure?</h5>
                <a href="{% url 'list' user.id %}">X</a>
            </div>
            <div class="del_text">
                <p>Are you sure you want to delete the time slot <strong>{{i.from_time}} AM - {{i.to_time}} PM</strong>?</p>
            </div>
            {% endfor%}
            <div class="btn btn-del">

                <button type="submit" class="btn btn_cancel"><a href="{% url 'list' user.id %}">Cancel</a></button>
                <button type="submit" class="btn btn_submit">Delete Schedule Slot</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}