{% extends 'base.html' %}
{% block title %}Doctor{% endblock %}

{% block content %}
   <div class="primary_heading lists">
            <h4 class="heading--text ">
                List of Doctor
            </h4>
            <a href="{% url 'addDoctor' %}" class="btn_add">Add Doctor</a>
        </div>
        <div class="table ">
            <div class="table_header">
                <div class="left">
                    <input type="text" id="search" class="myInput" placeholder="Search or Filter rows" title="search" onkeyup="searchFilter()">
                </div>

            </div>

            <table class="" id ="myTable" >
                <thead>
                    <tr class="headers">
                    <th></th>

                    <th>Name</th>
                    <th>Email</th>
                    <th>Degree</th>
                    <th>Department</th>
                    <th>Specialization</th>
                    <th>Mobile No</th>
                    <th>Joining Date</th>
                    <th>Account Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}

                <tr>
                    {% if i.img  %}
                         <td class="table_img"><img src="{{i.img.url}}" alt=""></td>
                    {% else %}
                        <td class="table_img"><img src="" alt="" class="img img3"></td>
                    {% endif %}

                    <td>{{i.first_name}} {{i.last_name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.education}}</td>
                    <td>{{i.department}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.phone_number}}</td>
                    <td>{{i.joining_date| date:'d-m-Y'}}</td>
                    {% if i.account_status == 'Invited'%}
                        <td ><span style="padding:4px 10px; Background-color:yellow;">{{i.account_status}}</span></td>
                    {% else %}
                          <td><span class="cancel_state">{{i.account_status}}</span></td>
                    {% endif %}
                    <td>
                        <a href="{% url 'edit_doctor' i.id %}" class="edit_btn"><span class="material-symbols-outlined edit_material">edit_square</span></a>
                        <a href="{% url 'del_doctor' i.id %}" class="delete_btn"><span class="material-symbols-outlined delete_material">delete</span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="pagination">

                {% if data.has_previous %}
                <a href="?page={{data.previous_page_number}}">&#8592; previous</a>
                {% endif %}
                {% if data.has_next %}
                <a href="?page={{data.next_page_number}}" class="left">next &#8594</a>
                {% endif %}
            </div>
    </div>
{% endblock %}