{% if user.is_authenticated %}
    {% if user.role == 'Admin' %}
    <div class="sidebar-block navigation_bar">

        <aside class="sidebar-section" id="sidebar-section">
            <ul class="sidebar_item" id="sidebar_item">
                <li class="sidebar_lists">
                    <span class="material-symbols-outlined">medication</span>
                    <a  class="sidebar_link"><span class="sidebar_name">Dashboards</span></a>

                </li>
                <li class="sidebar_lists  {% if navbar == 'appointmets-lists'  %} active {% endif %}" >
                    <span class="material-symbols-outlined">Assignment</span>
                    <a href="{% url 'appointment' %}" class="sidebar_link"><span class="sidebar_name">Appointment</span></a>

                </li>
                <li class="sidebar_lists {% if navbar == 'doctor-list' or navbar == 'create-doctor' or navbar == 'edit-doctor' or navbar == 'delete-doctor' %}active {% endif %}" >
                    <span class="material-symbols-outlined">medication</span>
                    <a href="{% url 'doctor' %}"  class="sidebar_link"><span class="sidebar_name">Doctors</span></a>

                </li>
                <li class="sidebar_lists {% if navbar == 'department' or navbar == 'department-list' or navbar == 'edit-department' or navbar == 'delete-department' %} active {% endif %}" >
                    <span class="material-symbols-outlined">group_work</span>
                    <a href="{% url 'department_list' %}" class="sidebar_link "><span class="sidebar_name">Departments</span>
                    </a>

                </li>

                <li class="sidebar_lists sidebar_lists {% if navbar == 'staff-list' or navbar == 'create-staff' or navbar == 'edit-staff' or navbar == 'delete-staff' %}active {% endif %}" >
                    <span class="material-symbols-outlined">people_alt</span>
                    <a href="{% url 'stafflist' %}" class="sidebar_link"><span class="sidebar_name">Staff</span></a>

                </li>
                <li class="sidebar_lists  {% if navbar == 'patient-lists' or navbar == 'delete' %} active {% endif %}" >
                    <span class="material-symbols-outlined">patient_list</span>
                    <a href="{% url 'patient' %}" class="sidebar_link"><span class="sidebar_name">Pateint</span></a>

                </li>
                <li class="sidebar_lists {% if navbar == 'admin-list' or navbar == 'create-admin' or navbar == 'edit-admin' or navbar == 'delete-admin' %}active {% endif %}" >
                    <span class="material-symbols-outlined">shield_person</span>
                    <a href="{% url 'admin' %}" class="sidebar_link"><span class="sidebar_name">Admin</span>
                    </a>
                </li>
                <li class="sidebar_lists {% if navbar == 'edit-account-info' or navbar == 'account-info' or navbar == 'change-password' %} active {% endif %}" >
                    <span class="material-symbols-outlined">settings</span>
                    <a  href="{% url 'account_info'  %}" class="sidebar_link"><span class="sidebar_name">Setting</span>
                    </a>
                </li>
                <li class="sidebar_lists " >
                    <span class="material-symbols-outlined">logout</span>
                    <a  href="{% url 'logout' %}" class="sidebar_link"><span class="sidebar_name">Logout</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>


    {% elif user.role == 'Doctor' %}
        <div class="sidebar-block navigation_bar">

        <aside class="sidebar-section" id="sidebar-section">
            <ul class="sidebar_item" id="sidebar_item">
<!--                <li class="sidebar_lists">-->
<!--                    <span class="material-symbols-outlined">medication</span>-->
<!--                    <a  class="sidebar_link"><span class="sidebar_name">Dashboards</span></a>-->

<!--                </li>-->
                <li class="sidebar_lists {% if navbar == 'appointment' %}active {% endif %}">
                    <span class="material-symbols-outlined">Assignment</span>
                    <a href="{% url 'doctor_appointment' user.id %}" class="sidebar_link"><span class="sidebar_name">Appointment</span></a>
                </li>
                <li class="sidebar_lists {% if navbar == 'schedule-list'  %}active {% endif %}">
                    <span class="material-symbols-outlined">schedule</span>
                    <a href="{% url 'list' user.id %}" class="sidebar_link"><span class="sidebar_name">Doctor Schedule</span></a>
                </li>
                <li class="sidebar_lists {% if navbar == 'patients' %}active {% endif %}">
                   <span class="material-symbols-outlined">patient_list</span>
                    <a href="{% url 'patients' user.id %}" class="sidebar_link"><span class="sidebar_name">Patients</span></a>
                </li>


                <li class="sidebar_lists  {% if navbar == 'edit-account-info' or navbar == 'account-info' or navbar == 'change-password' %} active {% endif %}" >
                    <span class="material-symbols-outlined">settings</span>
                    <a  href="{% url 'account_info' %}" class="sidebar_link"><span class="sidebar_name">Setting</span>
                    </a>
                </li>
                <li class="sidebar_lists " >
                    <span class="material-symbols-outlined">logout</span>
                    <a  href="{% url 'logout' %}" class="sidebar_link"><span class="sidebar_name">Logout</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>


{% elif user.role == 'Staff' %}
        <div class="sidebar-block navigation_bar">

        <aside class="sidebar-section" id="sidebar-section">
            <ul class="sidebar_item" id="sidebar_item">

                <li class="sidebar_lists {% if navbar == 'appointment' %}active {% endif %}">
                    <span class="material-symbols-outlined">Assignment</span>
                    <a href="{% url 'appoinment-list' %}" class="sidebar_link"><span class="sidebar_name">Appointment</span></a>
                </li>
                <li class="sidebar_lists  {% if navbar == 'Doctor-schedule' %} active {% endif %}">
                    <span class="material-symbols-outlined">schedule</span>
                    <a href="{% url 'sechedule-list' %}" class="sidebar_link"><span class="sidebar_name">Doctor Schedule</span></a>
                </li>
                <li class="sidebar_lists  {% if navbar == 'patients' or navbar == 'add-patient' %} active {% endif %}">
                   <span class="material-symbols-outlined">patient_list</span>
                    <a href="{% url 'patient-list' %}" class="sidebar_link"><span class="sidebar_name">Patients</span></a>
                </li>


                <li class="sidebar_lists {% if navbar == 'edit-account-info' or navbar == 'account-info' or navbar == 'change-password' %} active {% endif %}" >
                    <span class="material-symbols-outlined">settings</span>
                    <a  href="{% url 'account_info'  %}" class="sidebar_link"><span class="sidebar_name">Setting</span>
                    </a>
                </li>
                <li class="sidebar_lists " >
                    <span class="material-symbols-outlined">logout</span>
                    <a  href="{% url 'logout' %}" class="sidebar_link"><span class="sidebar_name">Logout</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>

    {% endif %}
{% endif %}