{% extends 'base.html' %}
{% block title %}List of Appointments{% endblock %}

{% block content %}
   <div class="primary_heading lists">
            <h4 class="heading--text ">
                Appointment List
            </h4>
        </div>
        <div class="table ">
            <div class="table_header">
                <div class="left">
                    <input type="text" id="search" class="myInput" placeholder="Search or Filter rows" title="search" onkeyup="searchFilter()">
                </div>

            </div>

            <table class="" id ="myTable" >
                <thead>
                    <tr class="headers">

                        <th>FUll Name</th>
                        <th>Doctor</th>
                        <th>specialization</th>
                        <th>Phone Number</th>
                        <th>Gender</th>
                        <th>Date of Birth</th>
                        <th>Appointment</th>
                        <th>Time</th>
                        <th>Location</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                    {% for i in datas %}

                    <tr id = {{i.id}}>

                        <td>{{i.full_name}}</td>
                        <td>Dr. {{i.user_id.first_name}}</td>
                        <td>{{i.specialization}}</td>
                        <td style="max-width:40px;overflow:hidden; text-overflow: ellipsis;white-space: nowrap;">{{i.phone_number}}</td>
                        <td>{{i.gender}}</td>
                        <td>{{i.date_of_birth}}</td>
                        <td>{{i.dates}}</td>
                        <td>{{i.appointed_date}}</td>
                        <td>{{i.location}}</td>
                        <td>
                            <a href="{% url 'appointment_delete' i.id %}" class="delete_btn" id="delete_btn"><span class="material-symbols-outlined"  class = "delete_material">delete</span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if datas.has_previous %}
                    <a href="?page={{ datas.previous_page_number }}">&#8592; previous</a>
                {% endif %}

                {% if datas.has_next %}
                    <a href="?page={{ datas.next_page_number }}" class="left">next &#8594;</a>
                {% endif %}
                </div>
        </div>



{% endblock %}