<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS | Book Appointment</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="select_bookings">
                <div class="input_location">
                    <label for="">Select Preferred location</label>
                    <select name="location" id="locat" class="loc" required>
                           <option value="{{locations}}">{{locations}}</option>
                            {% for i in location %}
                                <option value="{{i.location}}">{{i.location}}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="input_location">
                    <label for="">Select Speciality</label>
                    <select name="department" id="dept" class="dept"  required>
                        {% for dep in department_data %}
                        <option value="{{dep.id}}">{{dep.department_name}}</option>
                        {% endfor %}
                        {% for i in department %}
                            <option value="{{i.pk}}">{{i.department_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input_location">
                    <label for="">Select Date</label>
                    <input type="date" name="selected_date"  class ="dates" id ="date" value="{{selected_date}}" style="background: white;border: 1px solid black; width: 100%;padding: 1rem;">
                </div>
            </div>
            <div class="book_appointment">
                <h3>Best matching doctors based on your selection</h3>
                <div class="dcotor_lists ">
                    {% for j in user %}
                    <div class="doctor_appointment--book">
                        <a href="#" class="doctor_detail--block book{{j.id}}" onchange="get_data()">
                            <div class="doctor_img">
                                <img src="{{j.img.url}}" class="doctor_imgs img{{j.id}}" alt="doctor_img">
                            </div>
                            <div class="doctor_info">
                                <span class="doctor_name" >Dr. {{j.first_name}} {{j.last_name}}</span>

                                <input type="text" id="" class="doctor_name{{j.id}}" value="Dr. {{j.first_name}} {{j.last_name}}" hidden="hidden">
                                <input type="text" id="" class="doctor_id{{j.id}}" value="{{j.id}}" hidden="hidden">
                                <span class="doctor_specialist">{{j.designation}} </span>
                                <input type="text" id="" class="doctor_specialist{{j.id}}" value="{{j.designation}}" hidden="hidden">
                                <span class="doctor_Exp">{{j.experience}}, {{j.education}} </span>
                                {% for i in data %}
                                {% if i.user_id_id == j.id %}
                                <span class="docotor_location">{{i.location}}</span>
                                <input type="text" id="" class="docotor_location{{i.id}} locat{{j.id}}" value="{{i.location}}" hidden="hidden">
                                <input type="text" id="" class="department{{i.id}} locat{{j.id}}" value="{{j.department}}" hidden="hidden">
                                <input type="text" id="date" class="datechange date{{j.id}}" value="{{i.date}}" hidden="hidden">
                                <input type="text" id="from{{j.id}}" class="from_time" value="{{i.from_time}}" hidden="hidden">
                                <input type="text" id="to{{j.id}}" class="to_time" value="{{i.to_time}}" hidden="hidden">
                                <span class="clinic_name">Clinic: </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                        <div class="book_block">
                            <button type="submit" class="btn_book btn{{j.id}}" value="{{j.id}}" >Book an Appointment</button>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="time_Slots" id="time_Slots">
            <div class="time_content">

                <div class="close">
                    <h4>Available Time Slots</h4>
                    <span class="material-symbols-outlined" id="closed">close</span>
                </div>

                <div class="flex_btn">
                    <div class="morning_slots">
                        <div class="morning_heading">
                            <h4>
                                <span class="material-symbols-outlined">light_mode</span>
                                <span>Morning slots</span>
                            </h4>
                        </div>
                        <div class="morning_time">

                        </div>
                    </div>
                    <div class="afternoon_slots">
                        <div class="morning_heading">
                            <h4>
                                <span class="material-symbols-outlined">wb_twilight</span>
                                <span>Afternoon slots</span>
                            </h4>
                        </div>
                        <div class="afternoon_time">

                        </div>
                    </div>
                    <div class="evening_slots">
                        <div class="morning_heading">
                            <h4>
                                <span class="material-symbols-outlined">partly_cloudy_night</span>
                                <span>Evening slots</span>
                            </h4>
                        </div>
                        <div class="evening_time">

                        </div>
                    </div>

                    <div class="bookBtn">
                        <button class="btns btnCancel">Cancel</button>
                        <button class="btns btnSubmit"><a href="{% url 'patient_book' %}">Book</a></button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="{% static 'js/time.js' %}"></script>
</body>
</html>