{% extends 'base.html' %}
{% block title %}Edit Account Details{% endblock %}

{% block content %}

<!--    <div class="col-md-2_content">-->
        <div class="form_data">
            <div class="form_primary_heading">
                <h4 class="heading--text">
                    Edit Account
                </h4>
                <a href="{% url 'account_info'  %}">X</a>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_input">
                <div class="form-input">
                    <label for="phonenumber">Mobile No</label>
                    <input type="text" id="phonenumber" name ="phone_number" value="{{user.phone_number}}" autocomplete="off" required >
                </div>
                <div class="form-input">
                    <label for="">Enter Education</label>
                    <input type="text" name="education" value ='{{user.education}}' autocomplete="off" required>
                </div>

                <div class="form-input ">
                    <label for="">Total no of Experience</label>
                    <input type="text" name ="experience" value="{{user.experience}}" placeholder="Enter 1Y">
                </div>
                <div class="form-input ">
                    <label for="">Languages Known</label>
                    <input type="text" name ="language_known" value="{{user.language_known}}" placeholder="Enter Languages">
                </div>
                <div class="form-input">
                    <label for="designation">Enter City</label>
                    <input type="text" id="designation" name ="location" value ="{{user.location}}" autocomplete="off" required >
                </div>
                <div class="form-input">
                    <label for="designation">Enter LinkedInID</label>
                    <input type="text" id="designation" name ="linkedin" value ="{{user.linkedin}}" autocomplete="off" required >
                </div>

                 <div class="form-input textarea">
                    <label for="">Address</label>
                    <textarea name="address" id="" cols="9" rows="1" autocomplete="off" required>{{user.address}}</textarea>
                </div>
                <div class="form-input textarea">
                    <label for="">Enter Bio in 400 words</label>
                    <textarea name="about" id="" cols="30" rows="1">{{user.about}}</textarea>
                </div>
            </div>
            <div class="btn_block btn_department">
                <a href="{% url 'account_info' %}" class="btn btn_cancel">Cancel</a>
                <button type="submit" class="btn btn_submit">Edit User Data</button>
            </div>

        </form>

    </div>
 {% endblock %}