{% extends 'base.html' %}
{% block title %}Add Doctor | Digital Front Door{% endblock %}

{% block content %}
<!--    <div class="col-md-2_content">-->

<div class="change_password">
        <div class="form_data">
        <div class="primary_heading">
            <h4 class="heading--text">
                Change Password
            </h4>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="message">

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
                <div class="form-input">
                    <label for="password">Old Password</label>
                    <input type="password" id="password" name ="old_password" autocomplete="off" required >
                </div>
                <div class="form-input">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name ="new_password" autocomplete="off" required >
                </div>
                <div class="form-input">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="password" name ="password" autocomplete="off" required >
                </div>
            <div class="btn_block change_btn">
                <a href="{% url 'account_info' %}" class="btn btn_cancel">Cancel</a>
                <button type="submit" class="btn btn_submit">Change Password</button>
            </div>
        </form>
        </div>
    </div>
 {% endblock %}