{% extends 'base.html' %}
{% block title %}Schedule Doctor slots | Digital Front Door{% endblock %}

{% block content %}
    <div class="schedule_block">
    <h2 class="schedule_heading">Schedule Time Slot Dr. {{user.first_name}} {{user.last_name}}</h2>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form_input">
                <div class="form-input">
                    <label for="dept">Select Department</label>
                    <select name="deptId" id="dept">
                           <option>Select Department</option>
                        {% for i in department %}
                            <option value="{{i.pk}}">{{i.department_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="form-input">
                    <label for="date">Select Available Dates</label>
                    <input type="date" name="date" id="date">
                </div>
                 <div class="form-input">
                    <label for="time">From</label>
                     <input type="time" class="time-pickable" name="from_time" placeholder="select from time" >
                </div>
                <div class="form-input">
                    <label for="time">TO</label>
                    <input type="time" class="time-pickable" name="to_time" placeholder="select to time">
                </div>
                <div class="form-input">
                    <label for="city">Enter city</label>
                    <input type="text" class="city" name="location" placeholder="Enter city">
                </div>

            </div>
            <div class="btn_block btn_department">
                <button type="submit" class="btn btn_cancel"><a href="{% url 'list' user.id %}">Cancel</a></button>
                <button type="submit" class="btn btn_submit">Create Schedule</button>
            </div>
        </form>
    </div>

 {% endblock %}