{% extends 'base.html' %}
{% block title %}List of Departments | Digital Front Door{% endblock %}

{% block content %}
    <div class="department_block">
        <div class="department">
            <div class="department_primary_heading">
                <h4 class="heading--text">
                    Edit Department Details
                </h4>
                <a href="{% url 'department_list' %}">X</a>
            </div>
            <form action="" method="post" >
                {% csrf_token %}
                <div class="formInput deptForm">
                    <div class="form-input input_department">
                        <label for="department_name">Department name</label>
                        <input type="text" id="department_name" name ="department_name" value ="{{department_data.department_name}}"  autocomplete="off" required>
                    </div>
                     <div class="form-input input_department">
                        <label for="department_name">Department Number</label>
                        <input type="text" id="department_name" name ="department_no" value ="{{department_data.department_no}}"  autocomplete="off" required>
                     </div>

                     <div class="form-input input_department">
                        <label for="department_head">Department Head</label>
                        <input type="text" id="department_head" name ="department_head" value ="{{department_data.department_head}}" autocomplete="off" required>
                    </div>
                     <div class="form-input input_department">
                        <label for="department_date">Department Date</label>{{i.joining_date| date:'d-M-Y'}}
                        <input type="date" id="department_date" name ="department_date"  value ="{{department_data.department_date| date:'Y-m-d'}}" autocomplete="off" required>
                    </div>
                    <div class="form-input input_department">
                        <label for="department_status">Department Status</label>
                        <input type="text" id="department_status" name ="department_status" value ="{{department_data.department_status}}" autocomplete="off" required>
                    </div>
                <div class="form-input input_department input_dept_info">
                    <label for="department_date">Department Info</label>
                    <input type="text" id="department_info" name ="department_info" value ="{{department_data.department_info}}"  autocomplete="off" required>
                </div>
                </div>
                 <div class="btn_block btn_department">
                    <button type="submit" class="btn btn_cancel"><a href="{% url 'department_list' %}">Cancel</a></button>
                    <button type="submit" class="btn btn_submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}