{% extends 'authentication/base.html' %}
{% block title %} Sign In {% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <div class="content">
            <div class="form_content">
                <div class="message">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="heading">
                    <h2 class="login_header">Enter credential to login</h2>

                </div>

                <div class="input_block">
                   <input type="text" placeholder="Username" name="username" required>
               </div>

                <div class="input_block">
                    <input type="password" id="password" name ="password" placeholder="Password" required >
                    <i class="far fa-eye password_icon" id="togglePassword"  style="margin-left: -30px; cursor: pointer;"></i>
                </div>

                <div class="btn">
                    <div class="forgot">
                        <a href="{% url 'reset_password' %}">Forgot Password?</a>
                    </div>
                    <div class="login">
                        <button type="submit" class="loginBtn">LogIn</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}