{% extends 'base.html' %}
{% block title %}Admin{% endblock %}

{% block content %}
   <div class="primary_heading lists">
            <h4 class="heading--text ">
                List of Admin Users
            </h4>
            <a href="{% url 'admin_create' %}" class="btn_add">Add Admin</a>
        </div>
        <div class="table ">
            <div class="table_header">
                <div class="left">
                    <input type="text" id="search" class="myInput" placeholder="Search or Filter rows" title="search" onkeyup="searchFilter()">
                </div>

            </div>

            <table class="" id ="myTable" >
                <thead>
                    <tr class="headers">
                    <th></th>

                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Designation</th>
                    <th>Joining Date</th>
                    <th>Account status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in datas %}
                <tr>
                    {% if user.img  %}

                        <td class="table_img"><img src="{{user.img.url}}" alt="" class="img img3"></td>
                    {% else %}
                        <td class="table_img"><img src="" alt="" class="img img3"></td>
                    {% endif %}
                    <td>{{i.username}}</td>
                    <td>{{i.first_name}} {{i.last_name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.role}}</td>
                    <td>{{i.designation}}</td>
                     <td>{{i.joining_date| date:'d-M-Y'}}</td>
                     {% if i.account_status == 'Invited' %}
                        <td ><span style="padding:4px 10px; Background-color:yellow;">{{i.account_status}}</span></td>
                        {% else %}
                          <td><span class="cancel_state">{{i.account_status}}</span></td>
                        {% endif %}

                    <td>
                        <a href="{% url 'admin_edit' i.id %}" class="edit_btn"><span class="material-symbols-outlined edit_material">edit_square</span></a>
                        <a href="{% url 'admin_delete' i.id %}" class="delete_btn"><span class="material-symbols-outlined delete_material">delete</span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="pagination">

                {% if datas.has_previous %}
                <a href="?page={{datas.previous_page_number}}">&#8592; previous</a>
                {% endif %}
                {% if datas.has_next %}
                <a href="?page={{datas.next_page_number}}" class="left">next &#8594</a>
                {% endif %}
            </div>
    </div>
{% endblock %}