{% extends 'base.html' %}
{% block title %}Delete Admin {% endblock %}
{% block content %}

<div class="deleteDept">
    <form action="" method="post">
        {% csrf_token %}
        <div class="del_block">

            <div class="del_heading">
                <h5>Are you sure?</h5>
                <a href="{% url 'admin' %}">X</a>
            </div>
            <div class="del_text">
                <p>Are you sure you want to delete the useradmin <strong>{{admin_data.first_name}}</strong>?</p>
            </div>
            <div class="btn btn-del">

                <button type="submit" class="btn btn_cancel"><a href="{% url 'admin' %}">Cancel</a></button>
                <button type="submit" class="btn btn_submit">Delete Admin</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}