{% extends 'base.html' %}
{% block title %}Edit Admin {% endblock %}

{% block content %}
        <div class="form_data">
            <div class="form_primary_heading">
                <h4 class="heading--text">
                    Add Admin
                </h4>
                <a href="{% url 'admin' %}">X</a>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_input">

                <div class="form-input">
                    <label for="firstname">First name</label>
                    <input type="text" id="firstname" name ="first_name" value="{{user.first_name}}" autocomplete="off" required>
                </div>

                <div class="form-input">
                    <label for="lastname">Last name</label>
                    <input type="text" id="lastname" name ="last_name" value ="{{user.last_name}}" autocomplete="off" required >
                </div>
                <div class="form-input">
                    <label for="dept">Select Department</label>
                    <select name="department_id" id="dept">
                           <option>Select Department</option>
                        {% for i in dept_data %}
                            <option value="{{i.pk}}">{{i.department_name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-input">
                    <label for="education">Education</label>

                    <input type="text" id="education" name ="education"  value ="{{user.education}}" autocomplete="off" required >
                </div>
                <div class="form-input">
                    <label for="designation">Designation</label>
                    <input type="text" id="designation" name ="designation" value ="{{user.designation}}" autocomplete="off" required >
                </div>

                <div class="form-input">
                    <label for="phonenumber">Mobile No</label>
                    <input type="text" id="phonenumber" name ="phone_number" value ="{{user.phone_number}}" autocomplete="off" required >
                </div>

                <div class="form-input">
                    <label for="language_known">Known Language</label>
                    <input type="text" id="education" name ="language_known" value="{{user.language_known}}" required >
                </div>
                <div class="form-input textarea">
                    <label for="">Address</label>
                    <textarea name="address" id="" cols="10" rows="1" required> {{user.address}} </textarea>
                </div>
                <div class="form-input textarea">
                    <label for="">About</label>
                    <textarea name="about" id="" cols="10" rows="1" required> {{user.about}} </textarea>
                </div>
            </div>


            <div class="btn_block btn_department">
                <button type="submit" class="btn btn_cancel"><a href="{% url 'admin' %}">Cancel</a></button>
                <button type="submit" class="btn btn_submit">Edit Admin</button>
            </div>
        </form>

<!--    </div>-->
 {% endblock %}