{% extends 'authentication/base.html' %}
{% block title %} Password Reset {% endblock %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="content">
            <div class="form_content">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h2 class="login_header">Reset Password</h2>
                <div class="input_block">
                    <input type="email" id="username" name ="email" placeholder="Enter Email" required>
                </div>

                <div class="btn">
                    <div class="login">
                        <button type="submit" class="loginBtn">Reset Password</button>
                    </div>
                </div>
                <div>
                    <p class ="signinBtn">Do you remember your password? <a href="{%  url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}