{% extends 'authentication/base.html' %}
{% block title %} Password Reset Done{% endblock %}

{% block content %}
            <div class="card-body">
                <h4>Password Reset Mail Sent</h4>
                <div class="alert alert-info">
                    <p>
                        An email with the link has been sent to respective email, kindly reset the password
                    </p>
                    <p>
                        If you don't receive an email, please check the span folder.
                    </p>
                </div>
                <div class="loginlink">
                    <span>Kindly click here to<a href="{% url 'login' %}"> Login</a></span>
                </div>
            </div>

{% endblock %}