{% extends 'authentication/base.html' %}
{% block title %} Password Reset Complete{% endblock %}

{% block content %}
             <div class="card-body">
                 <h4>Password Updated</h4>
                 <div class="alert alert-info">
                     Your password has been changed successfully.
                 </div>
                 <div class="loginlink">
                    <span class="span">Kindly click here to <a href="{% url 'login' %}"> Login</a> </span>
                 </div>
             </div>

{% endblock %}