{% extends 'authentication/base.html' %}
{% block title %} Password Reset Confirm {% endblock %}
<style>

    label{
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 1rem 0;
    }

    input {
       display: block;
      width: 84%;
      height: 4rem;
      background: #fff;
      border-radius:10px;
      transition: all .3s ease;
      padding: 0 15px;
      border:1px solid skyblue;
    }
    .form_content{
        text-align:left;
        margin-bottom:2rem;
        padding:2rem;
        margin-left: 3.5rem;
    }

    .form {
        height: 32rem;
    }

    .btn {
        margin-bottom:2rem;
    }

    .login {
        width: 84%;
    }
</style>
{% block content %}
<form action="" method="post" class="form">
    {% csrf_token %}
        <div class="form_content">
            <div class="inputHeading">
                <h2 class="login_header">Change Password</h2>
            </div>
            {{form}}
            <div class="btn">
                 <div class="login">
                    <button type="submit" class="loginBtn">Reset Password</button>
                </div>
            </div>
        </div>
</form>

{% endblock %}